.navbar-brand {
  font-weight: bolder;
  padding-left: 15px;
}

.nav-item {
  font-weight: bold;
}

.navbar-right {
  margin-left: 750px;
}

form {
  position: relative;
  z-index: 1;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 40px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.img-thumb{
  width: 160px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#btn {
 margin-left: 100px;
}
